.button-radius{
    padding: 16px 24px;
    background-color: $primarycolor;
    font-weight: 500;
    color: #000;
    font-size: 18px;
    line-height: 1.21;
    border-radius: 30px;
    display: inline-flex;
    column-gap: 8px;
    align-items: center;
    transition: .3s ease all;
    border: 1px solid $primarycolor;
    
    &.white{
        background-color: transparent;
        border-color: $whitecolor;
        color: $whitecolor;
        span:last-child{
            background-color: $whitecolor;
        }
        @media (hover:hover){
            &:hover{
                background-color: $primarycolor;
                color: #000;
                border-color: $primarycolor;
                span:last-child{
                    background-color: #000;
                }
            }
        }
    }
    span:last-child{
        -webkit-mask-image: url(../img/buttonarrow.svg);
        mask-image: url(../img/buttonarrow.svg);
        @include mask-parameter;
        width: 15px;
        height: 15px;
        background-color: #000;
        transition: .3s ease background-color;
        display: inline-block;
    }
    @media (hover:hover){
        &:hover{
            border-color: $whitecolor;
            background-color: transparent;
            color: $whitecolor;
            span:last-child{
                background-color: $whitecolor;
            }
        }
    }
}


.striped-circle{
    display: inline;
    width: 50px;
    aspect-ratio: 1;
    background: repeating-linear-gradient(#e66465, #e66465 20px, #9198e5 20px, #9198e5 25px);
}