header {
  padding-top: 48px;
  display: flex;
  position: absolute;
  margin-bottom: 35px;
  left: 0;
  right: 0;

  .navbar {
    padding: 0;

    &-brand {
      padding: 0;

      img {
        height: 27px;
      }
    }

    &-toggler {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      padding-right: 0;
      z-index: 3;

      &-icon {
        position: relative;
        background-image: unset;
        width: 18px;
        background-color: $whitecolor;
        border-radius: 3px;
        height: 2px;
      }

      &:focus {
        box-shadow: unset;
      }
    }

    &-collapse {
      position: absolute;
      width: 100%;
      left: 0;
      top: calc(100% + 15px);

      .navbar-nav {
        padding: 0 15px;
        border-radius: 15px;
        background: rgba(23, 34, 69, .39);
        backdrop-filter: blur(8px);

        .nav-link {
          color: $whitecolor;

          &.active {
            color: $whitecolor;

          }
        }
      }

    }
  }
}

.herobanner {
  &__title {
    font-size: 70px;
    color: $whitecolor;
    font-weight: 700;
    line-height: 1.21;
    text-indent: 85px;
    margin-bottom: 16px;
  }

  &__desc {
    color: $whitesecond;
    font-size: 18px;
    line-height: 1.777;
    font-weight: 400;
    margin-block-end: 24px;
  }

  &__button {}

  &__grid {
    position: absolute;
    top: 0;
    left: 0;
    span {
      &:first-child {
        -webkit-mask-image: url(../img/bannergrid.svg);
        mask-image: url(../img/bannergrid.svg);
        @include mask-parameter;
        background: linear-gradient(180deg, #FFFFFF -52.46%, rgba(255, 255, 255, 0) 42.25%);
        width: 210px;
        aspect-ratio: 1.147;
        display: block;
      }

      &:last-child {}
    }
  }
}